{% extends 'blog/base.html' %}
   {% block content %}



<!-- article detail -->
<div class="blog">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage text_align_center ">
                <h2>title</h2>
                <p> Vous avez cliqué sur un article,voici les detail cet article</p>
             </div>
          </div>
       </div>
       <div class="row d_flex">
          <div class=" col-md-4">
             <div class="latest">
                <figure><img src="{% post.blog2.jpg.url %}" alt="#"/></figure>
               
                <span>{{ post.created_at}}</span>
                <div class="nostrud">
                   <h3>{{ post.title }} </h3>
                   <p>{{ post.intro}}</p>
                   <a class="read_more" href=" detail/{{ post.slug }}">Lire Plus</a>
                 
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end article detail -->

 {% endblock %}